main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1, h2, h3, a, span, p, div{
    font-family: 'PT Mono', monospace;
    font-weight: 400;
}
.post-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1em;
}
@media screen and (max-width: 750px) {
    h1{
        font-size: 1.5em;
    }
    .post-container{
        width: 90%;
    }
}

